<!doctype html>
<html>
  <head>
    <title>{% block title %}SimpleHost.xyz{% endblock %}</title>
    <style>
      #submit {
        display: block;
        background: #FF00FF;
        padding: 20px;
        color: white;
        font-size: 2em;
      }
      .navigation {
        float: right;
      }
      .err {
          color: red
      }
    </style>
    {% block include_css %}{% endblock %}
    {% block include_js %}{% endblock %}
    <script>
    </script>
  </head>
  <body>
    <nav class="navigation">
      <a href="/">Home</a> | 
      {% if not account %}
      <a href="/create-account">Register</a> | 
      <a href="/login">Login</a>
      {% else %}
      <a href="/create-page">+ New Page</a>
      {% endif %}
    </nav>
    {% block content %}
    {% endblock %}
  </body>
</html>
