{% extends "base.html" %}
{% block title %}Register Account| {{ super() }}{% endblock %}
{% block content %}
<h1>SimpleHost.xyz Uploader</h1>
<p>Create a new SimpleHost.xyz Account.</p>
{% if err_msg %}
<div class="err">{{ err_msg }}</div>
{% endif %}
<form action="/create-account" method="POST">
  Email: <input type="text" name="email" required /><br />
  Password: <input type="password" name="password" required /><br />
  Verify Password: <input type="password" name="password" required /><br />
  <br />
  <input type="submit" value="Register" id="submit" />
</form>
{% endblock %}
