{% extends "base.html" %}
{% block title %}Get Started | {{ super() }}{% endblock %}
{% block content %}
<h1>SimpleHost.xyz Uploader</h1>
<p>To host your website now simply fill out this form:</p>
<form action="/host" method="POST">
  Page (example.com/bar.html): <input type="text" name="page" required /><br />
  HTML:<br />
  <textarea name="html" required rows="25" cols="80"></textarea><br />
  <input type="submit" value="Host" id="submit" />
</form>
{% endblock %}
