{% extends "base.html" %}
{% block title %}Get Started | {{ super() }}{% endblock %}
{% block content %}
{% if not account %}
<!-- New User Experience -->
<h1>Welcome to SimpleHost.xyz</h1>
<p>Please <a href="/create-account">Create an Account</a> to get started.</p>
{% else %}
<!-- Returning User Experience -->
<h1>SimpleHost.xyz Uploader</h1>
<p>To host your website now simply fill out this form:</p>
<form action="/host" method="POST">
  Domain: <input type="text" name="domain" required /><br />
  Passcode: <input type="password" name="passcode" required /><br />
  HTML:<br />
  <textarea name="html" required rows="25" cols="80"></textarea><br />
  <input type="submit" value="Host" id="submit" />
</form>
{% endif %}
{% endblock %}
