{% extends "base.html" %}
{% block title %}Login | {{ super() }}{% endblock %}
{% block content %}
<h1>SimpleHost.xyz Uploader</h1>
<p>Login to an existing SimpleHost.xyz Account.</p>
{% if err_msg %}
<div class="err">{{ err_msg }}</div>
{% endif %}
<form action="/login" method="POST">
  Email: <input type="text" name="email" required /><br />
  Password: <input type="password" name="password" required /><br />
  <br />
  <input type="submit" value="Login" id="submit" />
</form>
{% endblock %}
